body>header {
    width: 60vw;
    min-height: 7vh;
    margin: 5vh auto 0 auto;
    background-color: #ffffff;
    border-top: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    border-radius: 2vw 2vw 0 0;
}

body>header>ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1vh auto auto auto;
}

body>header>ul>li {
    display: inline-block;
    list-style: none;
    border-left: var(--border);
    padding: 0 1vw 0 1vw;
}

body>header>ul>li:first-child {
    border-left: none;
    padding: 0 1vw 0 0;
}

body>header>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
}

body>footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 60vw;
    min-height: 7vh;
    margin: 0 auto 5vw auto;
    background-color: #ffffff;
    border-bottom: var(--border);
    border-left: var(--border);
    border-right: var(--border);
    border-radius: 0 0 2vw 2vw;
}